<!DOCTYPE html>

<html>

<head>
    <title>About</title>
        <link rel="icon" href="/img/pic3.png">

    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Kartheek Vatti. APIs used were Weatherstack and Mapbox.</p>
        <img src="./img/img2.jpg" alt="image" class="potrait">
    </div>
  
        {{>footer}}

</body>

</html>